# Application Environment Configuration
APP_NAME="Project Matilda"
ENV="development"
DEBUG=true
API_V1_STR="/api/v1"

# Security & CORS
CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]

# Frontend Client Settings
NEXT_PUBLIC_API_URL="http://localhost:8000"
